.container {
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
    width: 50%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


table {
    margin-top: 20px;
    border-collapse: collapse;
    width: 100%;

}

.thead {
    background-color: rgb(218, 64, 64);
    color: white;
}

th,
td {
    text-align: center;
    border: 1px solid black;
    padding: 14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}


td {
    white-space: nowrap;
    background-color: rgba(42, 39, 39, 0.947);
    color: white;
}

tr:hover {
    background-color: rgb(31, 33, 34);
    cursor: pointer;
}

.delete {
    width: 55px;
    height: 30px;
    background-color: rgb(218, 64, 64);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 2px;

}


.delete:hover {
    background-color: white;
    border: solid rgb(218, 64, 64) 2px;
    color: red;
}

.update {
    text-align: center;
    width: 55px;
    height: 30px;
    background-color: rgb(64, 126, 218);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
     margin: 0 2px;
    
}

.update:hover {
    background-color: white;
    border: solid rgb(64, 154, 218) 2px;
    color: rgb(41, 187, 255);
}


.button {
    width: 100px;
    height: 30px;
    background-color: rgb(31, 33, 34);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

.button:hover {
    background-color: rgb(70, 69, 69);
}

.buttonCancel {
    width: 100px;
    height: 30px;
    background-color: rgb(213, 29, 29);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
  
}

.buttonCancelOff {
    display: none;
}



.buttonCancel:hover {
    background-color: rgb(155, 31, 31);

}

.buttonUpdate {
    width: 100px;
    height: 30px;
    background-color: rgb(23, 152, 252);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;

}

.buttonUpdate:hover {
    background-color: rgb(9, 88, 172);
}

.inputs {

    flex-direction: column;
    margin-bottom: 10px;
    width: 50%;
    border-bottom: solid rgb(158, 145, 145) 2px;
    border-left: none;
    border-right: none;
    border-top: none;

}

.accionsContainer {
    display: flex;
    justify-content: center;
    padding: 11px;
    gap: 5px;
}

.buttonUpdate {}